<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
                <br>
                <a [routerLink]="['/proveedores/create']" class="btn bg-gradient-success">
                    <i class="fas fa-plus-circle"></i>
                    Nuevo
                </a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card">
    <div class="card-header">
        Listado de Proveedores
    </div>

    <div class="card-body table-responsive">
        <div *ngIf="proveedores?.length === 0" class="alert alert-info alert-dismissible">
            <h5>
                <i class="icon fas fa-info"></i>
                ¡Atención!
            </h5>

            No existe ningún proveedor registrado en la base de datos!
        </div>

        <table id="proveedores" class="table table-hover table-striped table-bordered dataTable dtr-inline table-sm" role="grid"
            *ngIf="proveedores?.length > 0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Contacto</th>
                    <th>Pais</th>
                    <th>Web</th>
                    <th>E-mail</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let proveedor of proveedores">
                    <td>{{proveedor.idProveedor}}</td>
                    <td>{{proveedor.contacto}}</td>
                    <td>{{proveedor.pais.nombre}}</td>
                    <td>{{proveedor.web}}</td>
                    <td>{{proveedor.email}}</td>
                    <td>{{proveedor.telefono}}</td>
                    <td>{{proveedor.direccion}}</td>
                    <td>
                        <span class="badge"
                            [ngClass]="{'badge-primary': proveedor.estado.estado === 'ACTIVO', 'badge-danger': proveedor.estado.estado === 'INACTIVO'}">
                            {{proveedor.estado.estado}}
                        </span>
                    </td>
                    <td class="center-options">
                        <button class="btn bg-gradient-info margin" placement="top" ngbTooltip="Editar"
                            [routerLink]="['/proveedores/create', proveedor.idProveedor]" 
                            *ngIf="auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_INVENTARIO')">
                            <i class="fas fa-edit"></i>
                        </button>

                        <button class="btn bg-gradient-danger margin" placement="top" ngbTooltip="Eliminar"
                            *ngIf="auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_INVENTARIO')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <th>#</th>
                    <th>Contacto</th>
                    <th>Pais</th>
                    <th>Web</th>
                    <th>E-mail</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
