<div class="container">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{title}}</h1>
                    <hr>
                    <button type="submit" role="button" class="btn btn-primary" [disabled]="!productoForm.form.valid"
                        *ngIf="!producto.idProducto else elseblock" (click)="create()">
                        <i class="fas fa-save"></i> Guardar
                    </button>

                    <ng-template #elseblock>
                        <button type="submit" role="button" class="btn btn-primary" (click)="update()" [disabled]="!productoForm.form.valid">
                            <i class="fas fa-save"></i> Actualizar
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Ingrese los datos</h3>
            </div>

            <form #productoForm="ngForm">
                <div class="card-body">

                    <div class="form-group">

                        <div class="row">
                            <div class="col">
                                <label for="codigo">Código</label>
                                <input type="text" class="form-control" name="codigo" [(ngModel)]="producto.codProducto"
                                    placeholder="Código de Producto">
                            </div>

                            <div class="col">
                                <label for="serie">No. Serie</label>
                                <input type="text" name="serie" id="serie" class="form-control" [(ngModel)]="producto.serie"
                                    placeholder="No. de Serie del Producto">
                            </div>
                        </div>
                        <br>
                        
                        <div class="row">
                            <div class="col">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" name="nombre" [(ngModel)]="producto.nombre"
                                    required #nombre="ngModel" placeholder="Ingrese nombre del producto">
                                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                                    <span class="requerido" *ngIf="nombre.errors.required">
                                        El nombre no puede estar vacío.
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <label for="stock">Existencias</label>
                                <input type="number" name="stock" class="form-control" [(ngModel)]="producto.stock"
                                    required #stock="ngModel"
                                    placeholder="Ingrese la cantidad de existencias disponibles">
                                <div *ngIf="stock.invalid && (stock.dirty || stock.touched)">
                                    <span class="requerido" *ngIf="stock.errors.required">
                                        El stock no puede ser vacío.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <br>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <label for="precio-compra">Precio Compra</label>
                                <input type="number" id="precio-compra" name="precio-compra" class="form-control"
                                    [(ngModel)]="producto.precioCompra" required #precioCompra="ngModel"
                                    placeholder="Ingrese el precio de compra del producto">

                                <div *ngIf="precioCompra.invalid && (precioCompra.dirty || precioCompra.touched)">
                                    <span class="requerido" *ngIf="precioCompra.errors.required">
                                        El precio compra no puede estar vacío.
                                    </span>
                                </div>
                            </div>


                            <div class="col">
                                <label for="porcentaje-ganancia">% Ganancia</label>
                                <input [(ngModel)]="producto.porcentajeGanancia" type="number" id="porcentaje-ganancia"
                                    name="porcentaje-ganancia" class="form-control"
                                    placeholder="Ingrese porcentaje de ganancia deseado" required
                                    #porcentajeGanancia="ngModel" (blur)="mostrarPrecioSugerido()">

                                <div
                                    *ngIf="porcentajeGanancia.invalid && (porcentajeGanancia.dirty || porcentajeGanancia.touched)">
                                    <span class="requerido" *ngIf="porcentajeGanancia.errors.required">
                                        El porcentaje de ganancia no puede estar vacío.
                                    </span>
                                </div>
                            </div>

                            <div class="col">
                                <label for="precio-sugerido">Precio Sugerido</label>
                                <input type="number" id="precio-sugerido" name="precio-sugerido" class="form-control"
                                    [(ngModel)]="producto.precioSugerido" #precioSugerido="ngModel" readonly>

                            </div>

                            <div class="col">
                                <label for="precio-venta">Precio Venta</label>
                                <input type="number" id="precio-venta" name="precio-venta" class="form-control"
                                    [(ngModel)]="producto.precioVenta" required #precioVenta="ngModel">

                                <div *ngIf="precioVenta.invalid && (precioVenta.dirty || precioVenta.touched)">
                                    <span class="requerido" *ngIf="precioVenta.errors.required">
                                        El precio venta no puede estar vacío.
                                    </span>
                                </div>

                            </div>
                        </div>
                        <br>
                        <hr>

                        <div class="row">

                            <div class="col">
                                <label for="marca">Marca</label>
                                <select [compareWith]="compararMarca" name="marca" class="form-control"
                                    [(ngModel)]="producto.marcaProducto">
                                    <option [ngValue]="undefined">--- Seleccionar Marca ----</option>
                                    <option *ngFor="let marca of marcas" [ngValue]="marca">{{marca.marca}}</option>
                                </select>
                            </div>

                            <div class="col">
                                <label for="tipo-producto">Tipo</label>
                                <select [compareWith]="compararTipo" name="tipo-producto" class="form-control"
                                    [(ngModel)]="producto.tipoProducto">
                                    <option [ngValue]="undefined">--- Seleccionar Tipo ----</option>
                                    <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{tipo.tipoProducto}}</option>
                                </select>
                            </div>

                            <div class="col">
                                <label for="proveedor">Proveedor</label>
                                <select [compareWith]="compararProveedor" name="proveedor" id="proveedor" class="form-control"
                                    [(ngModel)]="producto.proveedor">
                                    <option [ngValue]="undefined">--- Seleccione un Proveedor ---</option>
                                    <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">{{proveedor.nombre}}</option>
                                </select>
                            </div>

                            <div class="col">
                                <label for="fecha-ingreso">Fecha Ingreso</label>
                                <input type="date" name="fecha-ingreso" class="form-control"
                                    [(ngModel)]="producto.fechaIngreso">
                            </div>

                        </div>
                        <br>
                        <hr>

                        <div class="row">
                            <div class="col">
                                <label for="descripcion">Descripción</label>
                                <textarea class="form-control" name="descripcion" id="descripcion"
                                    placeholder="Ingrese una descripción" [(ngModel)]="producto.descripcion" cols="30"
                                    rows="5"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <label for="descripcion">Enlace al Sitio Web</label>
                                <input type="text" name="link" id="link" class="form-control"
                                    placeholder="Ingrese link del sitio oficial" [(ngModel)]="producto.link">
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>