<router-outlet *ngIf="router.url === '/' || router.url === '/login'" ></router-outlet>

<div *ngIf="router.url !== '/login' && router.url !== '/'" class="wrapper">

  <!-- <app-header-ventas *ngIf="authService.hasRole('ROLE_COBRADOR')"></app-header-ventas> -->
  
  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>

  </div>

</div>