<div *ngIf="modalCambioService.modal" class="abrir-modal animacion fadeIn">
    <div class="modal" tabindex="-1" style="display: block; overflow-y: scroll;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title ">{{title}}</h5>
                    <button (click)="cerrarModal()" id="close" type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true" style="color: white;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- FORMULARIO DE CREACION DE CLIENTE -->
                    <form #clienteForm="ngForm">
                        
                        <div class="col">
                            <div class="row">
                                <div class="form-group">
                                    <label for="total">Total</label>
                                    <label for="">{{factura.total}}</label>
                                </div>
                            </div>

                            <div class="row">
                                <label for="efectivo">Efectivo:</label>
                                <input type="number" name="efectivo" id="efectivo" class="form-control"
                                    (keyup)="calcularCambio($event)">
                            </div>

                            <div class="row">
                                <label for="cambio">Cambio:</label>
                                <label for="">{{cambio}}</label>
                            </div>
                        </div>
                            
                        <button type="submit" role="button" class="btn btn-primary" (click)="create()"
                            [disabled]="!clienteForm.form.valid"> Guardar
                        </button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
