<!-- MODAL DE REGISTRO PARA CLIENTES -->
<app-modal-create *ngIf="nitIngresado" [nit]="nitIngresado" (clienteCreado)="cargarCliente($event)"></app-modal-create>

<!-- MODAL CALCULAR CAMBIO -->
<app-modal-cambio *ngIf="pagar" [factura]="factura"></app-modal-cambio>

<!-- MODAL PARA BUSCAR PRODUCTOS -->
<app-modal-buscar-producto (producto)="loadProducto($event)"></app-modal-buscar-producto>

<!-- MODAL PARA BUSCAR CLIENTES -->
<app-modal-buscar-cliente (cliente)="loadCliente($event)"></app-modal-buscar-cliente>

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">{{title}}</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="row">

    <div class="col-md-9">
        <div class="card card-red">
            <div class="card-header">
                <h3 class="card-title">Ingrese los datos</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="usuario">Vendedor</label>
                                <input class="form-control" type="text" name="usuario"
                                    value="{{usuario.primerNombre + ' ' + usuario.apellido}}" [disabled]="usuario">
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="correlativo">Correlativo</label>
                                <input type="text" class="form-control" name="correlativo"
                                    [disabled]="correlativo.correlativoActual" [value]="correlativo.correlativoActual">
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="serie">Serie</label>
                                <input class="form-control" type="text" name="serie" [value]="correlativo.serie"
                                    [disabled]="correlativo.serie">
                            </div>
                        </div>

                        <div class="col">
                            <label for="buscar" style="display: block;">Buscar</label>
                            <input #mybuscar type="text" id="buscar" name="buscar" class="form-control"
                                style="width: 70%; display: inline; margin-right: 10px;" (keyup.enter)="buscarCliente()"
                                autofocus>

                            <button type="button" role="button" class="btn bg-fuchsia" data-toggle="modal"
                                data-target="#modal-buscar-cliente">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="nit">NIT:</label>
                                <input type="text" class="form-control" name="nit"
                                    value="{{cliente ? cliente.nit : ''}}" disabled>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="nombre">Nombre:</label>
                                <input type="text" class="form-control" name="nombre"
                                    value="{{cliente ? cliente.nombre : ''}}" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="direccion">Dirección:</label>
                                <input type="text" class="form-control" name="direccion"
                                    value="{{cliente ? cliente.direccion : ''}}" disabled>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label for="serie" style="display: block;">Serie</label>
                                <input type="text" class="form-control" name="serie" id="serie"
                                    value="{{producto ? producto.serie : ''}}"
                                    style="width: 70%; display: inline; margin-right: 10px;">
                                    <!-- (keyup.enter)="buscarProducto()"> -->

                                <button type="button" class="btn bg-gradient-fuchsia" data-toggle="modal"
                                    data-target="#modal-buscar-producto">
                                    <i class="fas fa-search"></i>
                                </button>

                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="nombre">Producto</label>
                                <input type="text" class="form-control" name="nombre"
                                    value="{{producto ? producto.nombre : ''}}" [disabled]="producto.nombre">

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="cantidad" style="display: block;">Cantidad</label>
                                <input type="number" name="cantidad" id="cantidad" class="form-control"
                                    style="width: 65%; display: inline; margin-right: 10px;" value="0"
                                    (keyup.enter)="agregarLinea()" autofocus>

                                <button type="button" class="btn bg-gradient-cyan" (click)="agregarLinea()">
                                    <i class="fas fa-plus-square"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- LISTADO DE PRODUCTOS AGREGADOS -->
                <div class="card-body table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Serie</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Descuento</th>
                                <th>N. Precio</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of factura.itemsFactura; let i = index">
                                <td>{{item.producto.codProducto}}</td>
                                <td>{{item.producto.serie}}</td>
                                <td>{{item.producto.nombre}}</td>
                                <td>{{item.producto.precioVenta | currency: "Q" : "symbol"}}</td>
                                <td>
                                    <input type="number" id="cant" value="{{item.cantidad}}"
                                        class="form-control col-sm-6"
                                        (change)="actualizarCantidad(item.producto.idProducto, $event)"
                                        (keyup)="actualizarCantidad(item.producto.idProducto, $event)">
                                </td>
                                <td>
                                    <input type="number" id="descuento" name="descuento" value="{{item.descuento}}"
                                        class="form-control col-sm-6"
                                        (change)="actualizarCantidadDescuento(item.producto.idProducto, $event)"
                                        (keyup)="actualizarCantidadDescuento(item.producto.idProducto, $event)">
                                </td>

                                <td>
                                    {{item.calcularPrecioDescuento() | currency: "Q" : "symbol"}}
                                </td>

                                <td>{{item.subTotalDescuento | currency: "Q" : "symbol"}}</td>
                                <td>
                                    <button type="button" class="btn bg-gradient-danger" (click)="eliminarItem(i)">
                                        X
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>  
            </form>
        </div>
    </div>

    <!-- VENTANA DE CALCULO DE CAMBIO POR EFECTIVO PAGADO -->
    <div class="col-md-3">
        <div class="card card-fuchsia">
            <div class="card-header">
                <h3 class="card-title">Calculo de Cambio y Total</h3>
            </div>
            <div class="card-body">
                <h4>
                    Total: 
                    <span>
                        <strong>
                            {{envio ? (envio.totalEnvio | currency: "Q" : "symbol") 
                                    : (factura.calcularTotal() | currency: "Q": "symbol")}}
                        </strong>
                    </span>
                </h4>
                <hr>
                <h5 *ngIf="envio">
                    Abonado:
                    <span>
                        <strong>
                            {{envio ? (envio.abono | currency: "Q" : "symbol") : ''}}
                        </strong>
                    </span>
                </h5>
                <h5 *ngIf="envio">
                    Saldo Pendiente:
                    <span>
                        <strong>
                            {{envio ? (envio.saldoPendiente | currency: "Q" : "symbol") : ''}}
                        </strong>
                    </span>
                </h5>
                <hr *ngIf="envio">
                <form action="">
                    <div class="form-group">
                        <label for="efectivo">Efectivo:</label>
                        <input #myEfectivo type="number" name="efectivo" id="efectivo" class="form-control"
                            (keyup)="calcularCambio($event)" [(ngModel)]="efectivo">
                    </div>

                    <div class="form-group">
                        <label for="">Cambio:</label>
                        <h3>
                            <span><strong>{{cambio | currency: "Q":"symbol"}}</strong></span>
                        </h3>
                    </div>
                </form>
            </div>

            <div class="card-footer">
                <input type="submit" role="button" class="btn btn-primary" value="Pagar"
                    [disabled]="!cliente.idCliente || (factura.itemsFactura.length <= 0)" (click)="createFactura()">
            </div>
        </div>
    </div>
</div>