<aside class="main-sidebar sidebar-dark-info elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/home']" class="brand-link">
        <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Techos De Oriente</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/img/user-2-log.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a [routerLink]="['/home']" class="d-block">{{usuario.primerNombre + ' ' + usuario.apellido}}</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <!-- CONTENEDOR DE MENUS -->
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                
                <!-- MENU PRODUCTOS -->
                <li class="nav-header" *ngIf="authService.hasRole('ROLE_INVENTARIO') || authService.hasRole('ROLE_ADMIN')">
                    Productos e Inventario
                </li>
                <li class="nav-item"
                    [ngClass]="{'menu-open': router.url.startsWith('/productos') && !router.url.includes('inventario')}">
                    <a href="" class="nav-link" [ngClass]="{'active': router.url.startsWith('/productos') && !router.url.includes('inventario')}">
                        <i class="nav-icon fas fa-memory"></i>
                        <p>
                            Productos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item"
                        *ngIf="authService.hasRole('ROLE_INVENTARIO') || authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_COBRADOR')">
                            <a [routerLink]="['/productos/index']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado</p>
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="authService.hasRole('ROLE_INVENTARIO') || authService.hasRole('ROLE_ADMIN')">
                            <a [routerLink]="['/productos/marcas/index']" class="nav-link" [routerLinkActive]="['active']"
                                [ngClass]="{'active':router.url.includes('/marcas/')}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Marcas</p>
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="authService.hasRole('ROLE_INVENTARIO') || authService.hasRole('ROLE_ADMIN')">
                            <a [routerLink]="['/productos/categorias/index']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Categorías</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_INVENTARIO')">
                    <a [routerLink]="['/productos/inventario/index']" class="nav-link" [routerLinkActive]="['active']">
                        <i class="fas fa-warehouse nav-icon"></i>
                        <p>Inventario</p>
                    </a>
                </li>

                <!-- MENU PEDIDOS -->
                <li class="nav-item"
                    [ngClass]="{'menu-open': router.url.startsWith('/pedidos')}">

                    <a href="" class="nav-link" [ngClass]="{'active': router.url.startsWith('/pedidos')}">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>
                            Pedidos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item"
                        *ngIf="authService.hasRole('ROLE_INVENTARIO') || authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_COBRADOR')">
                            <a [routerLink]="['/pedidos/index']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado</p>
                            </a>
                        </li>

                        <li class="nav-item"
                        *ngIf="authService.hasRole('ROLE_INVENTARIO') || authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_COBRADOR')">
                            <a [routerLink]="['/pedidos/create']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ingresar Pedido</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- MENUS DE COTIZACIONES -->
                <li class="nav-header" *ngIf="authService.hasRole('ROLE_COBRADOR') || authService.hasRole('ROLE_ADMIN')">Ventas</li>
                <li class="nav-item" *ngIf="authService.hasRole('ROLE_COBRADOR') || authService.hasRole('ROLE_ADMIN')"
                    [ngClass]="{'menu-open': router.url.startsWith('/cotizaciones')}">
                    <a href="" class="nav-link" [ngClass]="{'active': router.url.startsWith('/cotizaciones')}">
                        <i class="fas fa-paste nav-icon"></i>
                        <p>
                            Cotizaciones
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <a [routerLink]="['/cotizaciones/index']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Cotizaciones</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a [routerLink]="['/cotizaciones/create']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Crear Cotizaci&oacute;n</p>
                            </a>
                        </li>
                    </ul>
                 </li> <!-- FINAL DEL MENU COTIZACIONES -->
                
                <li class="nav-item" *ngIf="authService.hasRole('ROLE_COBRADOR') || authService.hasRole('ROLE_ADMIN')"
                    [ngClass]="{'menu-open': router.url.startsWith('/facturas')}">
                    <a href="" class="nav-link" [ngClass]="{'active': router.url.startsWith('/facturas')}">
                        <i class="fas fa-money-bill nav-icon"></i>
                        <p>
                            Facturas
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/facturas/index']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Facturas Emitidas</p>
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <a [routerLink]="['/facturas/correlativos/index']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Correlativos</p>
                            </a>
                        </li>
                    </ul>
                </li><!-- MENU DE FACTURAS FINAL -->

                <!-- MENU DE COMPRAS -->
                <li class="nav-header" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_INVENTARIO')">Compras</li>

                <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_INVENTARIO')"
                    [ngClass]="{'menu-open': router.url.startsWith('/compras')}">

                    <a href="" class="nav-link" [ngClass]="{'active': router.url.startsWith('/compras')}">
                        <i class="fas fa-shopping-basket nav-icon"></i>
                        <p>
                            Compras
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="" [routerLink]="['/compras/create']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ingresar Compra</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="" [routerLink]="['/compras/index']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado</p>
                            </a>
                        </li>
                    </ul>
                    
                </li>

                <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_INVENTARIO')"
                    [ngClass]="{'menu-open': router.url.startsWith('/proveedores')}">

                    <a href="" class="nav-link" [ngClass]="{'active': router.url.startsWith('/proveedores')}">
                        <i class="fab fa-ello nav-icon"></i>
                        <p>
                            Proveedores
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/proveedores/create']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Registrar</p>
                            </a>
                        </li>

                        <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN')">
                            <a [routerLink]="['/proveedores/index']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_INVENTARIO')"
                    [ngClass]="{'menu-open': router.url.startsWith('/paises')}">

                    <a href="" class="nav-link" [ngClass]="{'active': router.url.startsWith('/paises')}">
                        <i class="fas fa-globe nav-icon"></i>
                        <p>
                            Paises
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="" [routerLink]="['/paises/create']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Registrar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" [routerLink]="['/paises/index']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado</p>
                            </a>
                        </li>
                    </ul>

                </li>

                <!-- MENU DE ENVIOS -->
                <li class="nav-header" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_INVENTARIO')">Env&iacute;os</li>
                <li class="nav-item" *ngIf="authService.hasRole('ROLE_ADMIN') || authService.hasRole('ROLE_INVENTARIO')"
                    [ngClass]="{'menu-open': router.url.startsWith('/envios')}">

                    <a href="" class="nav-link" [ngClass]="{'active': router.url.startsWith('/envios')}">
                        <i class="fas fa-plane-departure nav-icon"></i>
                        <p>
                            Env&iacute;os
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="" [routerLink]="['/envios/index']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Listado</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="" [routerLink]="['/envios/create']" class="nav-link" [routerLinkActive]="['active']">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Crear</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <!-- MENU DE CLIENTES -->
                <li class="nav-header" *ngIf="authService.hasRole('ROLE_COBRADOR') || authService.hasRole('ROLE_ADMIN')">Clientes</li>
                <li class="nav-item" *ngIf="authService.hasRole('ROLE_COBRADOR') || authService.hasRole('ROLE_ADMIN')">
                    <a [routerLink]="['/clientes/index']" class="nav-link" [ngClass]="{'active' : router.url.startsWith('/clientes')}">
                        <i class="nav-icon fas fa-street-view"></i>
                        <p>Clientes</p>
                    </a>
                </li><!-- MENU DE CLIENTES FINAL -->

                <!-- MENU DE USUARIOS -->
                <li class="nav-header" *ngIf="authService.hasRole('ROLE_ADMIN')">Usuarios y Permisos</li>
                <li class="nav-item"  *ngIf="authService.hasRole('ROLE_ADMIN')"
                    [ngClass]="{'menu-open': router.url.startsWith('/usuarios')}">
                    <a href="" class="nav-link" [ngClass]="{'active' : router.url.startsWith('/usuarios')}">
                        <i class="fas fa-users nav-icon"></i>
                        <p>
                            Usuarios
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>

                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/usuarios/index']" class="nav-link" [ngClass]="{'active' : router.url.startsWith('/usuarios')}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Usuarios</p>
                            </a>
                        </li>
                    </ul>
                </li> <!-- MENU DE USUARIOS FINAL -->

                <li class="nav-header">M&oacute;dulo de Reportes</li>
                <li class="nav-item">
                    <a [routerLink]="['/reportes/main']" class="nav-link" [ngClass]="{'active': router.url === '/reportes/main'}">
                        <i class="far fa-newspaper nav-icon"></i>
                        <p>Reportes</p>
                    </a>
                </li>

                <li class="nav-header">Sesión</li>
                <li class="nav-item">
                    <a [routerLink]="['/login']" class="nav-link">
                        <i class="fas fa-window-close nav-icon"></i>
                        <p>Cerrar Sesión</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>