<div *ngIf="detailService.modal" class="abrir-modal animacion fadeIn">
    <div class="modal" tabindex="-1" style="display: block; overflow-y: scroll;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{title}}</h5>
                    <button (click)="cerrarModal()" id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: white;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h4>Datos Generales</h4>
                        <div class="row">
                            <div class="col-sm">

                                <ul *ngIf="compra" class="list-group mb-3">
                                    <li class="list-group-item">
                                        <strong>ID Compra: </strong>
                                        {{compra.idCompra}}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>NO. COMPROBANTE: </strong>
                                        {{compra.noComprobante}}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>DESCUENTO APLICADO EN Q.: </strong>
                                        {{compra.totalDescuento | currency: "Q" : "symbol"}}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>COSTO POR TRANSPORTE: </strong>
                                        {{compra.totalFlete | currency : "Q" : "symbol"}}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>TOTAL: </strong>
                                        {{compra.totalCompra | currency: "Q" : "symbol"}}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>FECHA EMISIÓN: </strong>
                                        {{compra.fechaCompra | date: 'dd/MM/yyyy'}}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>PROVEEDOR: </strong>
                                        {{compra.proveedor.nombre}}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>INGRESADO POR: </strong>
                                        {{compra.usuario.usuario}}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>TIPO COMPROBANTE:</strong>
                                        {{compra.tipoComprobante.tipoComprobante}}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>ESTADO:</strong>
                                        {{compra.estado.estado}}
                                    </li>
                                </ul>

                            </div>


                        </div>
                        <hr>
                        <div class="row">
                            <h4>Detalle de Compra</h4>&nbsp;
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Fila</th>
                                        <th>Registro</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>SubTotal</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="" *ngFor="let item of compra.items; let i = index">
                                        <td>{{'#' + (i + 1)}}</td>
                                        <td>{{item.idDetalleCompra}}</td>
                                        <td>{{item.producto.nombre}}</td>
                                        <td>{{item.cantidad}}</td>
                                        <td>{{item.subTotal | currency : "Q" : "symbol"}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
