h1{
    font-size: 25px;
    padding: 20px;
}

.contenedor-principal{
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
    overflow: hidden;
    transition: width 2s, height 4s;
}

.login-card{
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgb(172 168 168 / 43%);
    overflow: hidden;
}

.login-card-image{
    border-radius: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: fill;
}

#formulario-ingreso{
    width: 75%;
}

#formulario-ingreso button{
    width: 100%;
    margin-bottom: 15px;
}

#formulario-ingreso div{
    margin-bottom: 30px;
}

input[type="text"],
input[type="password"]{
    height: 55px;
}

input[type="text"]:focus,
input[type="password"]:focus{
    border: 3px solid rgb(57, 163, 198);
}

#logotipo{
    width: 200px;
    height: 100px;
    padding-bottom: 20px;
}

.fade-in {
    display: inline-block;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
