<main class="d-flex align-items-center min-vh-100 py-3 py-md-0 fade-in">
    <div class="container contenedor-principal">
        <div class="login-card">
            <div class="row no-gutters">
                <!-- IMAGEN LATERAL DERECHA -->
                <div class="col-md-5">
                    <img class="login-card-image" src="assets/img/logo-dtodo.jpg" alt="">
                </div>
                <!-- TITULO -->
                <div class="col-md-7">
                    <div class="card-body">
                        
                        <!-- LOGOTIPO -->
                        <!-- <img id="logotipo" src="assets/img/logo-quitapenas.png" alt=""> -->

                        <!-- TITULO -->
                        <h1>{{title}}</h1>

                        <!-- FORMULARIO -->
                        <form id="formulario-ingreso" method="POST">
                            <div class="form-group">
                                <input [(ngModel)]="usuario.usuario" class="form-control" type="text" name="username" id="username"
                                    placeholder="Ingrese su usuario" autofocus required>
                            </div>

                            <div class="form-goroup-mb4">
                                <input [(ngModel)]="usuario.password" class="form-control" type="password" name="password" id="password"
                                    placeholder="Ingrese su contraseña" required>
                            </div>

                            <button (click)="login()" type="submit" class="btn bg-gradient-cyan btn-lg">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>