
<!-- MODAL PARA BUSCAR PRODUCTOS -->
<app-modal-buscar-producto (producto)="loadProducto($event)"></app-modal-buscar-producto>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">{{title}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Ingrese los datos</h3>
            </div>
            <form #pedidoForm="ngForm">
                <div class="card-body">
    
                    <div class="row">
                        <div class="form-group col">
                            <label for="fecha-pedido">Fecha Pedido</label>
                            <input type="date" class="form-control" name="fecha-pedido" [(ngModel)]="pedido.fechaPedido"
                                required #fechaPedido="ngModel">
    
                            <div *ngIf="fechaPedido.invalid && (fechaPedido.touched || fechaPedido.dirty)">
                                <span class="requerido">
                                    Ingrese un valor válido.
                                </span>
                            </div>
                        </div>

                        <div class="form-group col">
                            <label for="proveedor">Proveedor</label>
                            <select name="proveedor" id="proveedor" [(ngModel)]="pedido.proveedor" class="form-control" 
                                required #proveedor="ngModel">
                                <option [ngValue]="undefined">Elija un Proveedor</option>
                                <option *ngFor="let proveedor of proveedores" [ngValue]="proveedor">
                                    {{proveedor.nombre}}
                                </option>
                            </select>

                            <div *ngIf="proveedor.invalid && (proveedor.touched || proveedor.dirty)">
                                <span class="requerido">
                                   Seleccione un proveedor valido
                                </span>
                            </div>
                        </div>
    
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label for="codigo" style="display: block;">Codigo</label>
                                <input type="text" class="form-control" name="codigo" id="codigo"
                                    [(ngModel)]="producto.codProducto"
                                    style="width: 70%; display: inline; margin-right: 10px;">
    
                                <button type="button" class="btn bg-gradient-fuchsia" data-toggle="modal"
                                    data-target="#modal-buscar-producto">
                                    <i class="fas fa-search"></i>
                                </button>
    
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="serie">Serie</label>
                                <input type="text" class="form-control" name="serie" id="serie" [(ngModel)]="producto.serie">
                            </div>
                        </div>

                        <!-- <div class="col">
                            <div class="form-group">
                                <label for="total">Total</label>
                                <input type="number" class="form-control" name="total" id="total" [(ngModel)]="pedido.totalPedido">
                            </div>
                        </div> -->
                    </div>

                    <div class="row">
    
                        <div class="col">
                            <div class="form-group">
                                <label for="precio-compra">Precio Compra</label>
                                <input type="number" class="form-control" name="precio-compra" id="precio-compra"
                                    [(ngModel)]="producto.precioCompra" #precioCompra="ngModel"
                                    [required]="!producto.precioCompra && pedido.itemsPedido.length <= 0">
    
                                <div *ngIf="precioCompra.invalid && (precioCompra.touched || precioCompra.dirty)">
                                    <span class="requerido">
                                        Ingrese un valor válido.
                                    </span>
                                </div>
                            </div>
                        </div>
    
    
                        <div class="col">
                            <div class="form-group">
                                <label for="porcentaje-ganancia">% Ganancia</label>
                                <input type="number" class="form-control" name="porcentaje-ganancia"
                                    [(ngModel)]="producto.porcentajeGanancia" #porcentajeGanancia="ngModel"
                                    [required]="!producto.porcentajeGanancia && pedido.itemsPedido.length <= 0"
                                    (blur)="mostrarPrecioSugerido()">
    
                                <div
                                    *ngIf="porcentajeGanancia.invalid && (porcentajeGanancia.touched || porcentajeGanancia.dirty)">
                                    <span class="requerido">
                                        Ingrese un valor válido.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label for="precio-sugerido">Precio Sugerido</label>
                                <input type="number" name="precio-sugerido" id="precio-sugerido" class="form-control"
                                    [(ngModel)]="producto.precioSugerido" (blur)="mostrarPrecioSugerido()" readonly>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="form-group">
                                <label for="precio-venta">Precio Venta</label>
                                <input type="number" name="precio-venta" id="precio-venta" class="form-control"
                                    [(ngModel)]="producto.precioVenta">
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="marca">Marcas Producto</label>
                                <select [compareWith]="compararMarca" [(ngModel)]="producto.marcaProducto" name="marca" id="marca" class="form-control">
                                    <option [ngValue]="undefined">Elija una marca</option>
                                    <option *ngFor="let marca of marcasProducto" [ngValue]="marca">
                                        {{marca.marca}}
                                    </option>
                                </select>
                            </div>
                        </div>
    
                        <div class="col">
                            <div class="form-group">
                                <label for="tipo-producto">Tipo Producto</label>
                                <select [compareWith]="compararTipo" name="tipo-producto" id="tipo-producto" [(ngModel)]="producto.tipoProducto"
                                    class="form-control">
                                    <option [ngValue]="undefined">Elija un tipo</option>
                                    <option *ngFor="let tipo of tiposProducto" [ngValue]="tipo">
                                        {{tipo.tipoProducto}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="nombre">Producto</label>
                                <input type="text" class="form-control" name="nombre" [(ngModel)]="producto.nombre"
                                    placeholder="Ingrese nombre del producto."
                                    [required]="!producto.nombre && pedido.itemsPedido.length <= 0" #nombre="ngModel">
    
                                <div *ngIf="nombre.invalid && (nombre.touched || nombre.dirty)">
                                    <span class="requerido">
                                        Ingrese un nombre para el producto.
                                    </span>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="cantidad" style="display: block;">Cantidad</label>
                                <input type="number" name="cantidad" id="cantidad" class="form-control"
                                    style="width: 65%; display: inline; margin-right: 10px;" value="0"
                                    (keyup.enter)="agregarLinea()" autofocus>
    
                                <button type="button" class="btn bg-gradient-cyan" (click)="agregarLinea()">
                                    <i class="fas fa-plus-square"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    
    
                <div class="card-body table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Serie</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
    
                        <tbody>
                            <tr *ngFor="let item of pedido.itemsPedido; let i = index">
                                <td>{{item.producto.codProducto}}</td>
                                <td>{{item.producto.serie}}</td>
                                <td>{{item.producto.nombre}}</td>
                                <td>{{item.producto.precioCompra | currency: "Q" : "symbol"}}</td>
                                <td>{{item.cantidad}}</td>
                                <td>{{item.calcularSubTotal() | currency: "Q" : "symbol"}}</td>
                                <td>
                                    <button type="button" class="btn bg-gradient-danger" (click)="eliminarItem(i)">
                                        X
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
                <!-- <div class="card-footer">
                    <button type="submit" role="button" class="btn btn-primary" (click)="create()"
                        [disabled]="!compraForm.form.valid">
                        Guardar
                    </button>
                </div> -->
            </form>
        </div>
        <!-- /.card -->
    </div>

    <!-- VENTANA DE CALCULO DE CAMBIO POR EFECTIVO PAGADO -->
    <div class="col-md-3">
        <div class="card card-fuchsia">
            <div class="card-header">
                <h3 class="card-title">Calculo de Cambio y Total</h3>
            </div>
            <div class="card-body">
                <h4>
                    Total: 
                    <span>
                        <strong>
                            {{pedido.calcularTotal() | currency : "Q" : "symbol"}}
                        </strong>
                    </span>
                </h4>
                <hr>
            </div>

            <div class="card-body" >
                <button type="submit" role="button" class="btn btn-primary" (click)="create()"
                        [disabled]="!pedidoForm.form.valid">
                        <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </div>

        <div>
            <div class="alert alert-danger alert-dismissible" *ngIf="producto && (producto.precioCompra > tmpvalorCompra)">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h5><i class="icon fas fa-ban"></i> ¡Alerta!</h5>
                {{"El precio del producto " + producto.codProducto + " no concuerda con el registrado en la base de datos."}}
            </div>
        </div>
    </div>
</div>
