<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{title}}</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Ingrese los datos</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form #marcaForm="ngForm">
                <div class="card-body">

                    <div class="form-group">
                        <label for="marca">Marca de Producto</label>
                        <input type="text" class="form-control" id="marca" name="marca"
                            [(ngModel)]="marcaProducto.marca" placeholder="Ingrese el nombre de la marca" required
                            #marca="ngModel">
                        <div *ngIf="marca.invalid && (marca.dirty || marca.touched)">
                            <span class="requerido" *ngIf="marca.errors.required">
                                La marca no puede estar vacia
                            </span>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" role="button" class="btn btn-primary" (click)="create()"
                        *ngIf="!marcaProducto.idMarcaProducto else elseBlock" [disabled]="!marcaForm.form.valid">
                        Guardar
                    </button>

                    <ng-template #elseBlock>
                        <button type="submit" role="button" class="btn btn-primary" (click)="update()" [disabled]="!marcaForm.form.valid">
                            Actualizar
                        </button>
                    </ng-template>
                    
                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>