<app-detail-producto *ngIf="productoSeleccionado" [producto]="productoSeleccionado"></app-detail-producto>
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{title}}</h1>
                <br>
                <a [routerLink]="['/productos/create']" class="btn bg-gradient-success">
                    <i class="fas fa-plus-circle"></i>
                    Nuevo
                </a>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card">
    <div class="card-header">
        Listado de Productos
    </div>
    <div class="card-body table-responsive">

        <div *ngIf="productos?.length == 0" class="alert alert-info alert-dismissible">
            <h5>
                <i class="icon fas fa-info"></i>
                Atención!
            </h5>

            No existe ningún producto registrado en la base de datos!
        </div>

        <table id="productos" class="table table-hover table-striped table-bordered dataTable dtr-inline table-sm"
            role="grid" *ngIf="productos?.length > 0">
            <thead>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Codigo</th>
                    <th>Serie</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Precio Sugerido</th>
                    <th>Stock</th>
                    <th>Proveedor</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let producto of productos">
                    <!-- <td>
                        
                    </td> -->
                    <td>{{producto.codProducto}}</td>
                    <td>{{producto.serie}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precioVenta | currency: "Q" : "symbol"}}</td>
                    <td>{{ (producto.precioSugerido ? producto.precioSugerido : 0) | currency: "Q" : "symbol" }}</td>
                    <td>{{producto.stock}}</td>
                    <td>{{producto.proveedor ? producto.proveedor.nombre : ''}}</td>
                    <td>{{producto.tipoProducto ? producto.tipoProducto.tipoProducto : ''}}</td>
                    <td>{{producto.marcaProducto ? producto.marcaProducto.marca : ''}}</td>
                    <td>
                        <span class="badge"
                            [ngClass]="{'badge-primary': producto.estado.estado === 'ACTIVO', 'badge-danger': producto.estado.estado === 'INACTIVO'}">
                            {{producto.estado.estado}}
                        </span>
                    </td>
                    <td class="center-options">
                        <button class="btn bg-gradient-success" data-toggle="modal" placement="top" ngbTooltip="Detalle del Producto"
                            (click)="abrirModal(producto)">
                            <i class="fa fa-asterisk"></i>
                        </button>

                        <button class="btn bg-gradient-info margin" placement="top" ngbTooltip="Editar Producto"
                            [routerLink]="['/productos/create', producto.idProducto]"
                            *ngIf="auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_INVENTARIO')">
                            <i class="fas fa-edit"></i>
                        </button>

                        <button class="btn bg-gradient-danger margin" placement="top" ngbTooltip="Eliminar Producto"
                            *ngIf="auth.hasRole('ROLE_ADMIN') || auth.hasRole('ROLE_INVENTARIO')" (click)="delete(producto)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <!-- <th>#</th> -->
                    <th>Codigo</th>
                    <th>Serie</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Precio Venta</th>
                    <th>Stock</th>
                    <th>Proveedor</th>
                    <th>Tipo</th>
                    <th>Marca</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>