<div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">{{title}}</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Ingrese los datos</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form #proveedorForm="ngForm">
                <div class="card-body">

                    <div class="row">
                        <div class="form-group col">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" name="correlativo-inicial" [(ngModel)]="proveedor.nombre"
                                required placeholder="Ingrese nombre del proveedor" #nombre="ngModel">
                                
                            <div *ngIf="nombre.invalid && (nombre.touched || nombre.dirty)">
                                <span class="requerido">
                                    Ingrese un nombre para el proveedor.
                                </span>
                            </div>
                        </div>

                        <div class="form-group col">
                            <label for="contacto">Contacto</label>
                            <input type="text" name="contacto" class="form-control" [(ngModel)]="proveedor.contacto"
                                required placeholder="Ingrese contacto del proveedor" #contacto="ngModel">

                            <div *ngIf="contacto.invalid && (contacto.touched || contacto.dirty)">
                                <span class="requerido">
                                    Ingrese un nombre de contacto v&aacute;lido.
                                </span>
                            </div>
                        </div>

                        <div class="form-group col">
                            <label for="pais">Pa&iacute;s</label>
                            <select class="form-control" name="paises" [(ngModel)]="proveedor.pais" required #pais="ngModel">
                                <option [ngValue]="undefined">Selecciona un pa&iacute;s</option>
                                <option *ngFor="let pais of paises" [ngValue]="pais">{{pais.nombre}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <label for="web">Sitio Web</label>
                            <input type="url" name="web" id="web" [(ngModel)]="proveedor.web" class="form-control" 
                                placeholder="Ingrese url del sitio web del proveedor">
                        </div>

                        <div class="form-group col">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" id="email" class="form-control" [(ngModel)]="proveedor.email"
                                placeholder="Ingrese correo electrónico de contacto">
                        </div>

                        <div class="form-group col">
                            <label for="telefono">Tel&eacute;fono</label>
                            <input type="text" name="telefono" id="telefono" class="form-control" [(ngModel)]="proveedor.telefono"
                                placeholder="Ingrese n&uacute;mero de tel&eacute;fono">
                        </div>
                    </div>

                    <div class="row">
                        <div class="from-group col">
                            <label for="direccion">Direcci&oacute;n</label>
                            <input type="text" name="direccion" id="direccion" class="form-control" [(ngModel)]="proveedor.direccion"
                                placeholder="Ingrese la direcci&oacute;n del Proveedor" required #direccion="ngModel">

                            <div *ngIf="direccion.invalid && (direccion.touched || direccion.dirty)">
                                <span class="requerido">
                                    Ingrese una direcci&oacute;n de proveedor v&aacute;lida.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" role="button" class="btn btn-primary" (click)="create()"
                        *ngIf="!proveedor.idProveedor else elseBlock" [disabled]="!proveedorForm.form.valid">
                        Guardar
                    </button>

                    <ng-template #elseBlock>
                        <button type="submit" role="button" class="btn btn-primary" (click)="update()"
                                [disabled]="!proveedorForm.form.valid">
                            Actualizar
                        </button>
                    </ng-template>

                </div>
            </form>
        </div>
        <!-- /.card -->
    </div>
</div>